* {
    font-family: 'Popins', sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #dc3545;
    --color-text: #231942;
    --navbar-color: #ffffff;
    --navbar-color-text: #000000;
}

::-webkit-scrollbar {
    display: none;
}

.home-menu {
    display: flex;
    cursor: grab;
    height: 38rem;
    overflow-y: scroll;
}

.home-page {
    height: 45rem;
}

.nav-nav {
    height: 5rem;
    background-color: var(--primary-color);
}

.nav-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.icons-cemilan,
.icons-makanan {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.icons-minuman {
    margin-right: 0.6rem;
    margin-top: 0.5rem;
}

.card {
    border: none;
}

.card img {
    height: 10rem;
    width: 100%;
}

.pemesan {
    border-radius: 5px;
}

.list {
    cursor: pointer;
}

.category-aktif {
    background-color: var(--primary-color);
}

.link {
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 1rem;
    background-color: var(--navbar-color);
    border: 1px solid black;
}

.link a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.link:hover {
    background-color: var(--primary-color);
}

.bayar {
    background-color: var(--primary-color);
}

.rupiah {
    float: right;
    margin-right: 1rem;
}

.btn-bayar {
    width: 96%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.hasil {
    overflow-y: scroll;
    height: 32rem;
}

.button-search {
    margin-bottom: 1rem;
}

.btn-edit-hapus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-pages {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.login {
    background-color: var(--primary-color);
    padding: 5rem;
    border-radius: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list-pesanan {
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    background-color: var(--primary-color);
}

.pesanan-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-menu h6 {
    margin: 3px;
}

.list-menu p {
    margin: 3px;
}

.pembeli {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.285);
}

.keterangan {
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.255);
}

.pesanan-button {
    display: flex;
    justify-content: center;
}

.btn-pesanan {
    width: 6rem;
}

@media screen and (max-width: 800px) {
    .home-page {
        display: flex;
        flex-direction: column;
    }

    .home {
        flex-direction: column;
    }
}